<div style="height:30px;" id="footer">
  <div class="footTopMore">
    <div class="innerContents">
      <p>Fanalyzer on the web: &nbsp;<a href="#" target="_new" class="twitter" title="Follow us on Twitter">Twitter</a> <a href="#" target="_new" class="facebook" title="Join us on Facebook">Facebook</a> <a href="#" target="_new" class="blog" title="">Blog</a></p>
      <ul>
        <li><a href="#" target="_new" title="">Blog</a></li>
        <li><a href="contact.html" title="Contact us">Contact</a></li>
        <li><a href="#" target="_new" title="Visit our support site">FAQ</a></li>
        <li><a href="http://www.Echodemic.com/terms" title="Terms of Use">About</a></li>
      </ul>
    </div>
  </div>
  <div class="innerContents-copyright">
    <p class="copyright-info">&copy; Copyright 2011 Fanalyzer. All rights reserved.</p>
  </div>
</div>
