  <div id="footer" style="margin:0;">
    <div class="footTopMore">
      <div class="innerContents">
        <p>Fanalyzer on the web: &nbsp;<a title="Follow us on Twitter" class="twitter" target="_new" href="#">Twitter</a> <a title="Join us on Facebook" class="facebook" target="_new" href="#">Facebook</a> <a title="" class="blog" target="_new" href="#">Blog</a></p>
        <ul>
          <li><a title="" target="_new" href="#">Blog</a></li>
          <li><a title="Contact us" href="contact.html">Contact</a></li>
          <li><a title="Visit our support site" target="_new" href="#">FAQ</a></li>
          <li><a title="Terms of Use" href="http://www.Echodemic.com/terms">About</a></li>
        </ul>
      </div>
    </div>
    <div class="about cf">
      <div class="innerContents">
        <div class="echo-column echo-detail">
          <h3>What is Fanalyzer?</h3>
          <p>Use Fanalyzer to increase purchases on your website by visualizing your online sales funnels and figuring out which campaigns are driving revenue and which ones aren't. <a href="#">Learn more about how we can help you</a>.</p>
        </div>
        <div class="echo-column echo-gd">
          <h3>We also provide tools to help you achieve social media success</h3>
          <p> This is some descriptive test to show off new products and have another call to action for people so that they can find more information about products and anything else they are looking for.</p>
          <a class="button seaGreen" target="_new" href="#">Get Started with Fanalyzer Today !</a> </div>
      </div>
    </div>
    <div class="innerContents-copyright">
      <p class="copyright-info">&copy; Copyright 2011 Fanalyzer. All rights reserved.</p>
    </div>
  </div>
