<div id="search-bar">
    <div id="search-box"> 
    
    
        <form action="" class="">
            <input type="text" name="">
        </form>
       <a class="button orange thickbox" href="<%=new_question_path%>?height=155&width=300&modal=true">Ask a Question</a>

    </div>

    
  </div>
