<% if answer %>
<div class="voter_thread">
  <div class="vote-sec "> <a href="#" class="down-thumb tipsy" title="Vote Down">down thumb</a> <a href="#" class="up-thumb">up thumb</a> <small class="voteTag">Vote</small> </div>
  <div class="vote-sec "> <%= image_tag answer.user.avatar(:tiny)  %> <small><%= answer.user.name %></small>
    <div class="ranking"></div>
  </div>
  <div class="voter-description">
    <h2><%= answer.title %></h2>
    <p><%= truncate(answer.text , :length => 70 )%> </p>
    <p class="user-log-voter">281<small>Votes</small> - 3 <small>Comments</small> - <a href="#">add comments</a></p>
  </div>
</div>
<% end %>
