<div class="browse-wrapper">
      <div id="landing-left-box">
        <div class="description-box"> <%= image_tag 'ask-question-ico.jpg' %>
          <h1>Ask Questions</h1>
          <h3>Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, </h3>
        </div>
        <div class="description-box"> <%= image_tag 'follow-questions-ico.jpg' %>
          <h1>Follow Questions</h1>
          <h3>Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, </h3>
        </div>
        <div class="description-box last"> <%= image_tag 'follow-player-ico.jpg' %>
          <h1>Follow Favourite Players</h1>
          <h3>Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, </h3>
        </div>
         </div>
        <a href="#" class="button seaGreen">Browser Questions</a>
        </div>
      <div id="landing-right-box">
				<%= render :partial => 'pages/register_box' %>
      </div>
<%# render :partial => 'register_box' %>
